body, *{
    margin: 0;
    padding: 0;
}

.header {
    height: 400px;
}
.header img {
    width: 100%;
    height: 400px;
}

.menu {
    display: flex;
    list-style: none;
    width: 50%;
    height: 50px;
    line-height: 50px;
    background-color: cyan;
    justify-content: space-around;
    margin: 0;
}

.menu li {
    width: 20%;
    text-align: center;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.menu li:hover{
    background-color: yellow; 
}

.menu li:hover a{
    color: red;
}

/* css danh sách món */
.container{
    background-color: violet;
    padding-bottom: 20px;
}
.products {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

.products li {
    width: 24%;
    margin-top: 20px;
    text-align: center; 
    border-radius: 12px;
    background-color: white; 
    position: relative;
}

.products li .sale{
    background-color: #d0021c;
    color: yellow;
    padding: 3px;
    position: absolute;
    top: 0;
    left: 0;
}

.products li h3{
    margin: 5px;
    font-size: 20px;
}

.products li .gia_ban {
    margin: 5px;
    color: #d0021c;
    font-weight: 700;
}

.products li .goi_mon { 
    width: 100%;
    background-color: cyan;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 5px;
    box-sizing: border-box;
    font-weight: 700; 
}

.products li .goi_mon:hover{
    cursor: pointer;
    background-color: #ff685f;
    color: white;

}

.products li img {
    width: 100%;
}


/* css cho footer  */
.footer{
    padding: 20px;
}

.list_footer{
    list-style: none;
}