*{  box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
body, html{
    width: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
}
nav{
    height: 90px;
    background: black;
    color: white;
}
*, ::after, ::before {
    box-sizing: border-box;
}
$color:   rgb(255, 0, 128);
$colo-more: #979191;
//slide 
// chỗ này nhá
.wp-slider{
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1; 
    background-image: url(https://hanoimoi.com.vn/Uploads/images/tuandiep/2020/10/28/A97I0356.jpg);
    background-size: cover;
    height: 520px;
    .owl-carousel{
        width: 100%;
        z-index: 100;
        
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        .item{
            width: 100%;
            position: relative;
            z-index: 200;  
            height: 520px;
            img{
                width: 100%;
                height: 520px;
            }
            .march{
                position: absolute;
                top: 0px;
                left: 50px;
                z-index: 500;
                background-color: white;
                text-align: center;
                border-radius: 1px;
                h1{
                    padding: 16px 30px;
                    color: white;
                    font-size: 50px;
                    background-color: $color;
                }
                p{
                    color: $colo-more;
                    font-weight: 600;
                    margin-bottom: 5px;
                }
            }
            .item-text{
                width: 70%;
                position: absolute;
                bottom: 10px;
                left: 50px;
                color: white;
                z-index: 500;
                h2{
                    line-height: 50px;
                    width: 90%;
                    &:hover{
                        color: $color;
                        transition: ease-out 0.7s;
                    }
                }
                p{
                    word-break: normal;
                    margin-top: 10px;
                    line-height: 30px;
                }
                
            }
            .read-more{
                z-index: 500;
                color: white;
                position: absolute;
                right: 20px;
                bottom: 20px;
                &:hover{
                    color: $color;
                    transition: ease-out 0.7s;
                }

            }

            &:after{
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: rgba(0,0,0, 0.60);
                z-index: 300;
            }
        }                 
        .owl-dots{
            height: 0;
            margin: 0;
        }
        
    }
    &:after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0,0,0, 0.65);
        z-index: 10;
    }
}
// middle
.mid{
    width: 100%;
    .col-12{
        text-align: center;
        height: 100px;
        margin-top: 100px;
        .load{
            width: 10%;
            background-color: $color;
            padding: 16px 5px;
            margin: 0 auto;
        }
    }
    .card-columns{
        width: 75%;
        max-width: 90%;
        margin: 0 auto;
        columns: 3 !important;
        column-gap: 40px;
        
        .card{
            border: none;
            box-shadow: 0px 0px 8px 2px rgba(187, 187, 187, 0.63) ;
            overflow: hidden;
            width: 100%;
            img{
                width: 100%;   
            }
            .card-body{
                .march{
                    color: $colo-more;
                }
                h5{
                    padding: 15px 0;
                    transition: .8s;
                    &:hover{
                        color: $color;
                    }
                }
                .card-text{
                    color: #777070;
                    
                }
                :last-child{
                    color: $colo-more;
                    transition: .8s;
                    .fas{
                        font-size: smaller;
                    }
                    &:hover{
                        color: $color;
                        .fas{
                            color: $color;
                        }
                    }
                }
            }
          
        }
    }
}
@media (max-width: 1300px){
    .mid{
        .card-columns{
            width: 90%;
        }
    }
}
@media (max-width: 1000px){
    .mid{
        .card-columns{
            columns: 2 !important;
        }
    }
}
@media (max-width: 576px){
    .mid{
        .card-columns{
            width: 90%;
            margin: 0 auto ;
            columns: 1 !important;
        }
    }
}



