* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

body, html {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}


*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: #191919;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  width: 30%;
}

header .logo img {
  margin: auto;
  display: block;
}

header .icon-menu {
  position: relative;
  display: none;
  color: white;
  font-size: 30px;
  padding: 20px 10px;
}

header .icon-menu .fa-bars {
  position: absolute;
}

header .icon-menu .fa-remove {
  position: absolute;
  display: none;
}
#firstPage{
  display: none !important;
}

.menu {
  width: 70%;
}

.menu nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu nav ul > li {
  padding: 0% 1.5%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: 100%;
  height: 100%;
  display: block;
}

.menu nav ul > li a {
  color: white;
  font-weight: 500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu nav ul > li a:hover {
  color: #DC2875;
}

.menu nav ul > li a .text-icon {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.menu nav ul > li a .text-icon p {
  height: 100%;
}

.menu nav ul > li .fa-angle-down,
.menu nav ul > li .fa-chevron-right {
  color: #DC2875;
}

.menu nav ul > li .fa-share-alt {
  padding: 0 30px 0 10px;
}

.menu nav ul > li:hover #sub-menu {
  display: block;
}

.menu nav ul > li:hover .sub-menu2b {
  display: block;
  top: 100%;
}

.menu nav ul .header__icon {
  margin-left: 3%;
}

.menu nav ul #sub-menu {
  position: absolute;
  width: 200px;
  border-radius: 10px;
  background-color: white;
  display: none;
}

.menu nav ul #sub-menu nav > ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu nav ul #sub-menu nav > ul > li {
  position: relative;
  padding: 12px 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu nav ul #sub-menu nav > ul > li a {
  color: black;
}

.menu nav ul #sub-menu nav > ul > li:hover > a {
  margin-left: 10px;
  color: #DC2875;
}

.menu nav ul #sub-menu nav > ul > li #sub-menu2 {
  position: absolute;
  top: 0;
  left: 80%;
  width: 200px;
  background-color: white;
  border-radius: 10px;
  display: none;
}

.menu nav ul #sub-menu nav > ul > li #sub-menu2 nav ul li {
  padding: 12px 20px;
}

.menu nav ul #sub-menu nav > ul > li:hover #sub-menu2 {
  display: block;
}

.menu nav ul #sub-menu nav > ul .div__li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.menu nav ul .sub-menu2b {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0%;
  background-color: white;
  border-radius: 10px;
}

.menu nav ul .sub-menu2b nav {
  margin: 15px 0 15px 3%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu nav ul .sub-menu2b nav ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.menu nav ul .sub-menu2b nav ul li {
  padding: 10px;
}

.menu nav ul .sub-menu2b nav ul li a {
  color: black;
}

.menu nav ul .sub-menu2b nav ul li a:hover {
  color: #DC2875;
  margin-left: 10px;
}

body {
  position: relative;
}

/* dskjdhksj */

.wp-slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  background-image: url(https://hanoimoi.com.vn/Uploads/images/tuandiep/2020/10/28/A97I0356.jpg);
  background-size: cover;
  height: 520px;
}

.wp-slider .owl-carousel {
  width: 100%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wp-slider .owl-carousel .item {
  width: 100%;
  position: relative;
  z-index: 200;
  height: 520px;
}

.wp-slider .owl-carousel .item img {
  width: 100%;
  height: 520px;
}

.wp-slider .owl-carousel .item .march {
  position: absolute;
  top: 0px;
  left: 50px;
  z-index: 500;
  background-color: white;
  text-align: center;
  border-radius: 1px;
}

.wp-slider .owl-carousel .item .march h1 {
  padding: 16px 30px;
  color: white;
  font-size: 50px;
  background-color: #ff0080;
}

.wp-slider .owl-carousel .item .march p {
  color: #979191;
  font-weight: 600;
  margin-bottom: 5px;
}

.wp-slider .owl-carousel .item .item-text {
  width: 70%;
  position: absolute;
  bottom: 10px;
  left: 50px;
  color: white;
  z-index: 500;
}

.wp-slider .owl-carousel .item .item-text h2 {
  line-height: 50px;
  width: 90%;
}

.wp-slider .owl-carousel .item .item-text h2:hover {
  color: #ff0080;
  -webkit-transition: ease-out 0.7s;
  transition: ease-out 0.7s;
}

.wp-slider .owl-carousel .item .item-text p {
  word-break: normal;
  margin-top: 10px;
  line-height: 30px;
}

.wp-slider .owl-carousel .item .read-more {
  z-index: 500;
  color: white;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.wp-slider .owl-carousel .item .read-more:hover {
  color: #ff0080;
  -webkit-transition: ease-out 0.7s;
  transition: ease-out 0.7s;
}

.wp-slider .owl-carousel .item:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 300;
}

.wp-slider .owl-carousel .owl-dots {
  height: 0;
  margin: 0;
}

.wp-slider:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 10;
}

.mid {
  width: 100%;
}

.mid .col-12 {
  text-align: center;
  height: 100px;
  margin-top: 100px;
}

.mid .col-12 .load {
  width: 10%;
  background-color: #ff0080;
  padding: 16px 5px;
  margin: 0 auto;
}

.mid .card-columns {
  width: 75%;
  max-width: 90%;
  margin: 0 auto;
  -webkit-columns: 3 !important;
          columns: 3 !important;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.mid .card-columns .card {
  border: none;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(187, 187, 187, 0.63);
          box-shadow: 0px 0px 8px 2px rgba(187, 187, 187, 0.63);
  overflow: hidden;
  width: 100%;
}

.mid .card-columns .card img {
  width: 100%;
}

.mid .card-columns .card .card-body .march {
  color: #979191;
}

.mid .card-columns .card .card-body h5 {
  padding: 15px 0;
  -webkit-transition: .8s;
  transition: .8s;
}

.mid .card-columns .card .card-body h5:hover {
  color: #ff0080;
}

.mid .card-columns .card .card-body .card-text {
  color: #777070;
}

.mid .card-columns .card .card-body :last-child {
  color: #979191;
  -webkit-transition: .8s;
  transition: .8s;
}

.mid .card-columns .card .card-body :last-child .fas {
  font-size: smaller;
}

.mid .card-columns .card .card-body :last-child:hover {
  color: #ff0080;
}

.mid .card-columns .card .card-body :last-child:hover .fas {
  color: #ff0080;
}

@media (max-width: 1300px) {
  .mid .card-columns {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .mid .card-columns {
    -webkit-columns: 2 !important;
            columns: 2 !important;
  }
}

@media (max-width: 576px) {
  .mid .card-columns {
    width: 90%;
    margin: 0 auto;
    -webkit-columns: 1 !important;
            columns: 1 !important;
  }
}
/*# sourceMappingURL=style.css.map */