body {
    padding: 0;
    margin: 0;
    width: 100%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    text-rendering: optimizeLegibility;
    font-weight: 100;
    color: rgba(175, 47, 47, 0.15);
    text-align: center;
    margin: 0;
}

.container {
    justify-content: center;
    width: 500px;
    margin: 0 auto;
    position: relative;
    border: 2px solid brown;
    box-shadow: 2px 2px 10px rgb(158, 130, 130), -2px -2px 10px rgb(158, 130, 130);
}

#input {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 24px;
    width: 100%;
    background: rgb(161, 154, 154);
    position: relative;
    /* text-indent: 30px; */
    box-sizing: border-box;
    overflow: hidden;
}

#icon,
#icon2 {
    position: absolute;
    font-size: xx-large;
    border-radius: 50%;
}

#icon {
    left: 10px;
    top: 16px;
    display: none;
}

#icon2:hover {
    background: blue;
}

#icon:hover {
    background: blue;
}

#icon2 {
    top: 16px;
    right: 15px;
}

.footer {
    display: flex;
    height: 40px;
    background-color: blanchedalmond;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 40px;
}

.footer p {
    padding: 0;
    margin: 0;
    width: 30%;
    text-align: left;
    text-indent: 20px;
}

.footer div {
    width: 70%;
    justify-content: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer div button {
    height: 20px;
}

.item {
    display: flex;
    height: 40px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
    border-top: 1px solid rgb(138, 150, 150);
    border-bottom: 1px solid rgb(138, 150, 150);
    font-size: 20px;
}

.item input {
    width: 20px;
    height: 20px;
}

.item>i {
    background-color: white;
    color: white;
    font-size: 30px;
    border-radius: 50%;
}

.item:hover i {
    background: black;
    color: cyan;
}

.btnFilter {
    background: cyan;
    border: 1px solid violet;
}