*{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
     
}
.left{
    width: 45%;
    height: 100%;
    position: fixed;
}
.avtleft{
    width: 100%;
    height: auto;
    margin: 2px 2px;
}
.avtleft-1{
    width: 100%;
    height: auto;
    margin: 60px 2px;
}
.right{
    margin-left: 46%;
    flex-direction: column;
    /* height: 6000px; */
    height: 100%;
    width: 53%;
    position: relative;
    /* background-color: rgb(189, 177, 202); */
}
.avtright{
    height: 0px;
    width: 0px;
}
.header{
    height: 8%;
    /* background-color: aquamarine; */
}
.center{
    text-align: center;
    line-height: 50px;
    padding: 20%;
}
.center img{
    margin-right: 50%;
}
#font{
    position: absolute;
    background-color: beige;
    padding: 10px;
    left: 41%;
    animation: change-color 1.5s ease-in-out infinite;
}
@keyframes change-color{
    50%{
        background-color: antiquewhite;
    }
    75%{
        background-color: blue;
    }
    100%{
        background-color: yellowgreen;
    }
}
#font:hover{
    /* background-color: rgb(206, 144, 50); */
    color: rgb(141, 63, 63);
}
@media screen and (max-width: 992px){
    .main{
        display: block;
    }
    .left{
        width: 0px;
        height: 0px;
        /* position: absolute; */
    }
    .right{
        width: 100%;
        margin-left: 10px;
    }
    .avtleft-1{
        width: 0;
        height: 0;
        margin: 0;
    }
    .avtright{
        width: 100%;
    height: auto;
    margin: 2px 2px;
    }
}
/* anh dau tu */
.dautu{
    /* background-color: aliceblue; */
    /* height: 25%; */
    width: 100%;
}
 p{
    font-size: 30px;
    color: rgb(122, 117, 117);
    font-family: 'Courier New', Courier, monospace;
}
.photo{
    margin-top: 10px;
    /* background-color: rgb(240, 236, 232); */
    height: 100%;
    display: flex;
}
.ptleft{
    display: block;
    width: 50%;
}

.ptright{
    display: block;
    width: 50%;
}
@media screen and (max-width: 600px){
    .photo{
        display: block;
        width: 100%;
    }
    .avtleft{
        width: 100%;
    }
    .ptleft{
        width: 100%;
    }
    .ptright{
        width: 100%;
    }
}
 /* About  */
.about{
    height: 5%;
    margin-top: 30px;
    /* background-color: rgb(197, 194, 194); */
    
}
.word{
    font-size: 20px;
    text-align: justify ;
    padding-right: 5%;
    padding-top: 5%;
}

/* skills */
.skills{
    height: 10%;
    margin-top: 50px;
    /* background-color: antiquewhite; */
}

.bieudo{
    width: 100%;
    margin-top: 3   0px;
    margin-bottom: 50px;
    background-color: #ffffff;
}
.bieudo p{
    font-size: 20px;
}
.bieudo1{
    width: 100%;
    background-color: rgb(179, 179, 156);
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#main1{
    width: 95%;
    background-color: black;
}
#main2{
    width: 85%;
    background-color: black;
   
}
#main3{
    width: 80%;
    background-color: black;
   
}
.bieudo1 p{
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: aliceblue;
}
.middle{
    height:auto;
    min-height: 120px;
    background-color: rgb(66, 62, 62);
    display: flex;
    color: #ffffff;

    flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: center;

}

.middle .sp{
    font-size: 15px;
    text-align: center;  
}
.sp span{
    font-size: 25px;
}
@media screen and (max-width: 600px){
    .middle{
    display: block;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-around;
    }
    .sp{
        padding: 30px;
    }
}
#dload{
    /* background-color: antiquewhite; */
    border: black 1px solid;
    padding: 10px;
}
.footsk{
    margin-top: 50px;
}
#dload:hover{
    background-color: aquamarine;
}

/* my reputation */
.MyReputation{
    height: 8%;
    /* background-color: rgb(214, 193, 193); */
    flex-direction: column;
    margin-top: 50px;
}
.item{
    display: flex;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospacen;
}
.item img{
    border-radius: 50%;
    
}
.text{
    display: block;
    padding: 30px 10px;
}
.text p{
    font-size: 15px;
}
.text1{
    display: flex ;
}
/* My price  */
.myprice {
    /* justify-content: space-around; */
    height: 10%;
    margin-top: 50px;
    /* background-color: antiquewhite; */
}
.left-right{
    display: flex;
    margin-top: 10px;
    height: 90%;
    width: 100%;
    justify-content: space-around;
    margin-top: 7%;
}
.price{
    display: block;
    width: 45%;
    height: 90%;
    
}
.price:hover{
    box-shadow: 5px 5px rgb(179, 171, 171),-5px -5px rgb(184, 179, 179);
}

.head-price{
    height: 100px;
    padding: 30px auto;
    background-color: rgb(53, 44, 32);
    color: aliceblue;
    text-align: center ;
    line-height: 100px;
}
.item-price{
    height: 40px;
    background-color: #ffffff;
    color: black;
    text-align: center;
    border: black 1px solid;
    line-height: 40px;
}
.price-foot{
    height:20px;
    background-color: #ffffff;
    color: black;
    text-align: center;
    border: black 1px solid;
    padding-top: 30px;
    padding-bottom: 15%;
    font-size: 25px;
}
.price-foot > span{
    font-size: 15px;
}
.signup{
    background-color: aquamarine;
    color: rebeccapurple;
    padding: 10px;
    font-size: 15px !important;
}
.price-foot .signup:hover{
    border: red 1px solid;
    background-color: beige;
}
@media screen and (max-width: 600px){
    .left-right{
        display: block;
	    flex-direction: column;
	    flex-wrap: wrap;
	    justify-content: space-around;
	    align-items: center;
	    align-content: space-around;
    }
    .price{
        margin-top: 20px;
        width: 90%;
       
    }
}
/* Contact me  */
.contactme{
    display: block;
    height: 23%;
    width: 100%;
    margin-top: 50px;
    /* background-color: beige */
}
.icon-address{
    height: 15% ;
    margin-top: 20px;
}
.icon-item{
    height:33% ;
    font-size: 20px;
    margin-top: 20px;
}
.contactme img{
    width: 100%;
    margin-top: 20px;
}
.form-control{
    height: 50px;
    width: 98%;
    margin-top: 30px;
}
form{
    margin-top: 30px;
    margin-bottom: 30px;
}
.form-group p{
    font-size: 20px;
}
.contactme span{
    margin-top: 20px;
    /* background-color: antiquewhite; */
    padding: 12px 16px;
    animation: chang-color 0.2s ease-out infinite;
}
.contactme span:hover{
    background-color: rgb(95, 66, 66);
}
@keyframes chang-color{
    50%{
        background-color: aquamarine;
    }
    100%{
        background-color: rgb(129, 96, 54);
    }
}
.footer{
    height: 3%;
    /* background-color: aqua; */
    position: relative;
    
}
.main-footer{
    position: absolute;
    top: 70px;
    left: 40%;
    margin-bottom: 50px;
}
.main-footer i:hover{
    background-color: aquamarine;
    height: 15px;
    width: 15px;
}
 
 


